In [164]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [165]:
df_crime = pd.read_csv("King_County_Sheriff_s_Office_-_Incident_Dataset.csv")
df_crime.head(16)

,case_number,incident_datetime,incident_type,FCR,address_1,city,state,zip,created_at,updated_at,hour_of_day,day_of_week,Incident Block Location
0,C19045456,11/27/2019 02:10:00 PM,Other,377,8700 Block 250TH AVE NE,REDMOND,WA,98053,12/02/2019 11:55:00 PM,12/03/2019 01:47:00 AM,14,Wednesday,POINT (-122.00566700000002 47.679241)
1,C19045392,11/27/2019 08:00:00 AM,Traffic,427,BECKLER RD & MP 4.6,SKYKOMISH,WA,98288,12/02/2019 10:25:00 PM,12/03/2019 12:16:00 AM,8,Wednesday,NaN
2,C19047596,11/20/2019 11:38:00 AM,Property Crime,331,NFD 6028 & HWY 2,BARING,WA,5474,12/17/2019 11:15:00 PM,12/17/2019 11:56:00 PM,11,Wednesday,NaN
3,C19044352,11/19/2019 02:38:00 PM,Drugs,200,1 Block AVE S & S KING ST,SEATTLE,WA,98144,12/02/2019 05:05:00 PM,12/02/2019 06:56:00 PM,14,Tuesday,NaN
4,C19044243,11/18/2019 11:06:00 PM,Traffic,404,I,KENT,WA,NaN,11/26/2019 08:55:00 PM,11/26/2019 10:46:00 PM,23,Monday,NaN
5,C19044643,11/10/2019 11:00:00 AM,Other,323,1 Block AVE & COLUMBIA ST,SEATTLE,WA,98104,11/21/2019 11:55:00 PM,11/22/2019 01:46:00 AM,11,Sunday,NaN
6,C19043669,11/07/2019 12:00:00 AM,Assault,160,21700 Block NE 87TH PL,REDMOND,WA,98053,11/18/2019 11:55:00 PM,11/19/2019 01:46:00 AM,0,Thursday,POINT (-122.04992199999998 47.679931)
7,C19042139,11/01/2019 04:00:00 PM,Theft of Vehicle,300,27500 Block 43RD AVE S,AUBURN,WA,98001,11/07/2019 08:35:00 PM,11/19/2019 02:44:00 AM,16,Friday,NaN
8,C19041869,11/01/2019 07:00:00 AM,Breaking & Entering,274,28600 Block KENT BLACK DIAMOND RD SE,KENT,WA,98042,11/05/2019 05:45:00 PM,11/05/2019 07:37:00 PM,7,Friday,NaN
9,C19043372,10/31/2019 12:00:00 AM,Property Crime,184,16100 Block 140TH PL NE,WOODINVILLE,WA,98072,11/15/2019 06:06:00 PM,11/15/2019 07:57:00 PM,0,Thursday,NaN
10,C19040851,10/24/2019 04:43:00 PM,Other,321,WAY,SNOQUALMIE,WA,98065,10/28/2019 08:35:00 PM,10/28/2019 10:27:00 PM,16,Thursday,NaN
11,C19040119,10/15/2019 10:00:00 AM,Theft from Vehicle,288,4000 Block S 296TH PL,AUBURN,WA,98001,10/21/2019 04:35:00 PM,10/21/2019 06:27:00 PM,10,Tuesday,NaN
12,C19039249,10/13/2019 02:00:00 PM,Traffic,411,EB WAY,SEATAC,WA,NaN,10/14/2019 11:15:00 PM,10/15/2019 12:56:00 AM,14,Sunday,NaN
13,C19038601,10/08/2019 02:34:00 PM,Other,511,2100 Block AUBURN WAY S,AUBURN,WA,98002,10/10/2019 04:15:00 PM,10/10/2019 06:10:00 PM,14,Tuesday,POINT (-122.20969300000002 47.292323)
14,C19037720,10/01/2019 08:57:00 PM,Assault,112,21700 Block 135TH AVE SW,VASHON,WA,98070,10/10/2019 04:55:00 PM,10/10/2019 06:46:00 PM,20,Tuesday,NaN
15,C19037829,09/27/2019 06:30:00 PM,Other,234,19600 Block 142ND AVE SE,KENT,WA,98042,10/04/2019 03:46:00 PM,11/20/2019 12:57:00 AM,18,Friday,NaN

In [166]:
kc_cities= df_crime['city'].unique()
kc_cities

array(['REDMOND', 'SKYKOMISH', 'BARING', 'SEATTLE', 'KENT', 'AUBURN',
       'WOODINVILLE', 'SNOQUALMIE', 'SEATAC', 'VASHON', 'RENTON',
       'CENTRALIA', 'TUKWILA', 'NORTH BEND', 'MAPLE VALLEY', 'PUYALLUP',
       'FALL CITY', 'ISSAQUAH', 'YAKIMA', 'COVINGTON', 'EVERETT',
       'SAMMAMISH', 'ENUMCLAW', 'BURIEN', 'WHITE CENTER', 'NEWCASTLE',
       'CARNATION', 'SHORELINE', 'KING COUNTY', 'BLACK DIAMOND',
       'RAVENSDALE', 'COTTAGE LAKE', 'FEDERAL WAY', 'BRYN MAWR-SKYWAY',
       'DUVALL', 'BELLEVUE', 'KENMORE', 'DES MOINES', 'SOQUALMIE',
       'TACOMA', 'KOKOMO', 'STANWOOD', 'SKYWAY', 'BONNEY LAKE',
       'EAST HILL-MERIDIAN', 'ENCUMCLAW', 'PACIFIC',
       'LAKE MORTON-BERRYDALE', 'EAST RENTON HIGHLANDS', 'NORTHBEND',
       'SPANAWAY', 'LAKELAND SOUTH', 'TANNER', 'GOLD BAR',
       'LAKELAND NORTH', 'VANCOUVER', 'UNIVERSITY PLACE', 'LUBBOCK',
       'MIRRORMONT', 'SNOHOMISH', 'BREMERTON', 'LYNNWOOD', 'LAKEWOOD',
       'BOTHELL', 'ALGONA', 'HOBART', 'ABERDEEN', 'CASCADE-FAIRWOOD',
       'SCENIC', 'LAKE FOREST PARK', 'EDMONDS', 'SNOQUALMIE PASS',
       'PRESTON', 'KIRKLAND', 'RIVERBEND', 'CABO SAN LUCAS',
       'MAPLE HEIGHTS-LAKE DESIRE', 'WARNER ROBINS', 'NEW BRITAIN',
       'SPOKANE', 'MIDLAND', 'MONROE', 'UNION HILL-NOVELTY HILL',
       'LAS VEGAS', 'EDGEWOOD', 'RENO', 'MOUNTLAKE TERRACE', 'EASTSOUND',
       'BUCKLEY', 'SNOQULAMIE', 'PULLMAN', 'EVANSVILLE', 'BRIER',
       'LEAVENWORTH', 'PERRIS', 'FREELAND', 'FIFE', 'UNKNOWN',
       'LOS ANGELES', 'GRAHAM', 'SUMNER', 'ZILLAH', 'BRINNON', 'CHEHALIS',
       'RANCHO MIRAGE', 'PORTLAND', 'UNK', 'BURLINGTON', 'MIAMI',
       'HILLSBORO', 'MCMINNVILLE', 'MOUNT VERNON', 'SKYCOMISH', 'EASTON',
       'MERCER ISLAND', 'GRESHAM', 'WASHINGTON', 'UNINCORPORATED',
       'ELLENSBURG', 'PROSSER', 'SOUTH PRAIRIE', 'NORMANDY PARK',
       'SNOHOMISH COUNTY', 'UMATILLA', 'UNINCORPORATED KING COUNTY',
       'MOSES LAKE', 'OLYMPIA', 'VEAZIE', 'BEAUX ARTS VILLAGE', 'PASCO',
       'GRANTS PASS', 'MARYSVILLE', 'WATERBURY', 'BOW', 'TWISP',
       'HOLGATE', 'FOUNTAIN VALLEY', 'NACHES', 'SUISUN CITY', 'MILTON',
       'BELLINGHAM', 'SPRINGFIELD', 'LANETT', 'GIG HARBOR',
       'BATTLE GROUND', 'VASHON ISLAND', 'HOUSTON', 'LANGLEY TOWNSHIP',
       'RICHTON PARK', 'LAKE TAPPS', 'CLE ELUM', 'LAKEBAY',
       'CLEVELAND HEIGHTS', 'PARKLAND', 'TWENTYNINE PALMS', 'WARRENTON',
       'NEW YORK', 'SOUTH HILL', 'CUMBERLAND', 'LAKE STEVENS', 'ASTORIA',
       'SACRAMENTO', 'NEW ORLEANS'], dtype=object)

In [167]:
df_crime.loc[df_crime['city'] == 'SHORELINE']

,case_number,incident_datetime,incident_type,FCR,address_1,city,state,zip,created_at,updated_at,hour_of_day,day_of_week,Incident Block Location
122,C19039074,10/11/2019 06:14:00 PM,Assault,112,16200 Block 5TH AVE NE,SHORELINE,WA,98155,10/14/2019 05:05:00 PM,10/14/2019 06:57:00 PM,18,Friday,POINT (-122.323851 47.746217)
235,C19000547,01/04/2019 10:35:00 PM,Traffic,424,14600 Block AURORA AVE N,SHORELINE,WA,98133,02/21/2019 02:00:00 AM,02/21/2019 02:01:00 AM,22,Friday,POINT (-122.34504900000002 47.735435)
354,C19039610,10/16/2019 01:00:00 AM,Other,236,14500 Block PHINNEY AVE N,SHORELINE,WA,98133,10/16/2019 03:06:00 PM,10/16/2019 04:57:00 PM,1,Wednesday,POINT (-122.354256 47.734484)
357,C19038927,10/10/2019 12:20:00 PM,Theft,285,16100 Block GREENWOOD AVE N,SHORELINE,WA,98133,10/11/2019 03:27:00 PM,10/11/2019 05:17:00 PM,12,Thursday,POINT (-122.355676 47.746273)
363,C19032977,08/28/2019 12:38:00 PM,Property Crime,332,15200 Block AURORA AVE N,SHORELINE,WA,98133,09/03/2019 09:16:00 PM,09/03/2019 11:06:00 PM,12,Wednesday,POINT (-122.34520500000002 47.739136)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19302,C18044828,10/13/2018 11:29:00 PM,Traffic,424,200 Block NE 175TH ST,SHORELINE,WA,98155,01/17/2019 07:10:00 PM,02/21/2019 12:36:00 AM,23,Saturday,POINT (-122.328451 47.755977)
19752,C19032469,08/24/2019 08:23:00 PM,Other,422,NE 145TH ST & 15TH AVE NE,SHORELINE,WA,98155,08/25/2019 11:55:00 AM,08/26/2019 05:47:00 PM,20,Saturday,POINT (-122.312741 47.733949)
20176,C19034537,09/08/2019 11:47:00 PM,Property Crime,182,16700 Block AURORA AVE N,SHORELINE,WA,98133,09/10/2019 04:45:00 PM,09/10/2019 05:57:00 PM,23,Sunday,POINT (-122.345405 47.750504)
20305,C19039325,10/13/2019 10:00:00 PM,Breaking & Entering,271,700 Block N 160TH ST,SHORELINE,WA,98133,10/15/2019 07:25:00 PM,10/15/2019 09:22:00 PM,22,Sunday,POINT (-122.35010000000001 47.745047)
20349,C19015382,03/07/2019 12:00:00 AM,Property Crime,334,14700 Block DAYTON AVE N,SHORELINE,WA,98133,04/23/2019 02:52:00 PM,04/24/2019 12:00:00 AM,0,Thursday,NaN

In [168]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20449 entries, 0 to 20448
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   case_number              20449 non-null  object
 1   incident_datetime        20449 non-null  object
 2   incident_type            20449 non-null  object
 3   FCR                      20449 non-null  int64
 4   address_1                20449 non-null  object
 5   city                     20449 non-null  object
 6   state                    20449 non-null  object
 7   zip                      20133 non-null  object
 8   created_at               20449 non-null  object
 9   updated_at               20449 non-null  object
 10  hour_of_day              20449 non-null  int64
 11  day_of_week              20449 non-null  object
 12  Incident Block Location  17713 non-null  object
dtypes: int64(2), object(11)
memory usage: 2.0+ MB

In [169]:
df_crime= df_crime.drop(columns=['case_number', 'incident_datetime', 'created_at', 'updated_at', 
                                  'hour_of_day', 'day_of_week', 'Incident Block Location'])
df_crime.head()

    incident_type  FCR                  address_1       city state    zip
0           Other  377    8700 Block 250TH AVE NE    REDMOND    WA  98053
1         Traffic  427        BECKLER RD & MP 4.6  SKYKOMISH    WA  98288
2  Property Crime  331           NFD 6028 & HWY 2     BARING    WA   5474
3           Drugs  200  1 Block AVE S & S KING ST    SEATTLE    WA  98144
4         Traffic  404                          I       KENT    WA    NaN

In [170]:
df_crime = df_crime.rename(columns={'zip': 'zipcode'}, inplace= False)
df_crime.columns

Index(['incident_type', 'FCR', 'address_1', 'city', 'state', 'zipcode'], dtype='object')

In [171]:
print(df_crime.isnull().sum())

incident_type      0
FCR                0
address_1          0
city               0
state              0
zipcode          316
dtype: int64

In [172]:
df_crime = df_crime.dropna()
print(df_crime.isnull().sum())

incident_type    0
FCR              0
address_1        0
city             0
state            0
zipcode          0
dtype: int64

In [173]:
df_crime.head()

    incident_type  FCR                  address_1       city state zipcode
0           Other  377    8700 Block 250TH AVE NE    REDMOND    WA   98053
1         Traffic  427        BECKLER RD & MP 4.6  SKYKOMISH    WA   98288
2  Property Crime  331           NFD 6028 & HWY 2     BARING    WA    5474
3           Drugs  200  1 Block AVE S & S KING ST    SEATTLE    WA   98144
5           Other  323  1 Block AVE & COLUMBIA ST    SEATTLE    WA   98104

In [174]:
duplicate_rows_df_crime = df_crime[df_crime.duplicated()]
print(duplicate_rows_df_crime.shape)

(3953, 6)

In [175]:
df_crime= df_crime.drop_duplicates()

In [176]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16180 entries, 0 to 20448
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   incident_type  16180 non-null  object
 1   FCR            16180 non-null  int64
 2   address_1      16180 non-null  object
 3   city           16180 non-null  object
 4   state          16180 non-null  object
 5   zipcode        16180 non-null  object
dtypes: int64(1), object(5)
memory usage: 884.8+ KB

In [177]:
df_pop = pd.read_csv("King_County_population_changes__2000_and_2010.csv")
df_pop.head()

          City   2000 Census Corrected  2010 Census
0       Algona                    2460         3014
1     Kirkland                   45054        48787
2    Carnation                    1893         1786
3      Redmond                   45256        54144
4  Woodinville                    9809        10938

In [178]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    40 non-null     object
 1    2000 Census Corrected  40 non-null     int64
 2   2010 Census             40 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.1+ KB

In [179]:
df_pop['City'].unique()

array(['Algona', 'Kirkland', 'Carnation', 'Redmond', 'Woodinville',
       'Renton', 'Skykomish', 'Mercer Island', 'Pacific (K.C. portion)',
       'Uninc. King County', 'Des Moines', 'North Bend', 'Snoqualmie',
       'Medina', 'Duvall', 'Tukwila', 'Newcastle',
       'Bothell (K.C.portion)', 'Burien *', 'Enumclaw', 'Sammamish',
       'Milton (K.C.portion)', 'Issaquah', 'Maple Valley', 'Hunts Point',
       'Bellevue', 'Federal Way', 'Shoreline', 'Lake Forest Park',
       'Beaux Arts', 'Clyde Hill', 'Black Diamond', 'Covington',
       'Normandy Park', 'Kent *', 'Seattle', 'SeaTac', 'Yarrow Point',
       'Auburn (K.C. portion)', 'Kenmore'], dtype=object)