In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib notebook

In [4]:
df = pd.read_csv("Median Household Income.zip")
df.head()

,ID Year,Year,Household Income by Race,Household Income by Race Moe,Geography,ID Geography,Slug Geography
0,2018,2018,56135,2615.0,"Chelan County, WA",05000US53007,chelan-county-wa
1,2018,2018,82189,453.0,"Seattle-Tacoma-Bellevue, WA",31000US42660,seattle-tacoma-bellevue-wa
2,2018,2018,89418,784.0,"King County, WA",05000US53033,king-county-wa
3,2018,2018,60293,140.0,United States,01000US,united-states
4,2018,2018,71610,1435.0,"Kitsap County, WA",05000US53035,kitsap-county-wa